body{
    margin: 0px;
}

#firstPageContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    
}

.optionButton{
    height: 50px;
}

.centeredInParentDiv{
    width: fit-content;
    margin: 3px auto;
}

#nameInput{
    height: 30px;
}

.radioGrid{
    display: grid;
    align-items: center;
    grid-template-columns: 30px 60px;
    justify-content: space-evenly;
}

.currentRoomButton{
    background-color:cornflowerblue;;
}

.hidden{
    display: none;
}

/* #localVideoContainer{
    right: 0px;
    top: 0px;
    position: fixed;
} */

.spatial{
    right: 1vmin;
    top: 1vmin;
    position: fixed;
    height: 99vh;
    overflow: hidden;
}

video{
    object-fit: cover;
}

/* #remoteVideo{
    width: fit-content;
    height: calc(100vh - 240px);
    overflow-y: auto;
    display: grid;
} */

.spatial #remoteVideo{
    width: fit-content;
    max-height: calc(100% - 240px);
    overflow-y: auto;
    display: grid;
}

.spatial video{
    opacity: 0.8;
}
.spatial #remoteVideo video{
    width: 320px;
    height: 240px;
}

.static{
    position: fixed;
    left: 400px;
    top: 0px;
    height: 100vh;
    width: calc(100vw - 400px);
}

.static #localVideoContainer{
    background-color: lightsteelblue;
} 

.static #remoteVideo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.static #remoteVideo video{
    width: -webkit-fill-available;
    max-height: calc(100vh - 240px);
}

.static #localVideoContainer #localVideo{
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    /* align-content: center; */
    display: block;
}


.switchViewButton{
    left: 10px;
    position: absolute;
    font-weight: bold;
}

.roomSelectionButtonsContainer{
    display: grid;
    width: 400px;
    height: 100vh;
    align-content: space-around;
    background-color: darkseagreen;
    justify-content: center;

}

.roomButton{
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: 89px 1px 90px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
}

#roomMembersSeparator{
    border-style: hidden solid hidden hidden;
    height: inherit;
}

.roomName{
    text-align: left;
    font-size: 20px;
    font-family: cursive;
}

.roomMembersContainer{
    display: grid;
    font-size: 15px;
    overflow-y: clip;
}